*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    margin-top: 2rem;
    text-align: center;
}
.FormStyle{
    width: 50%;
    background-color:rgb(227, 221, 221);
    margin: auto;
}
label{
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
input{
    width: 100%;
    height: 6vh;
}
input[type="text"]{
    border-radius: 10px;
}
.SubmttBtn{
    margin-top: 20px;
    background-color: rgb(122, 222, 122);
    font-size: 1rem;
    border-radius: 10px;
}
.SubmttBtn:hover{
    background-color: rgb(74, 96, 41);
    color: antiquewhite;

}
input[type="text"] :focus{
    outline: none;
    border: 1px solid burlywood;
}
#btn{
    display: none;
}

    

